/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  /*width: 100%;*/
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #8ca448;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: #a6bb3f;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.navbar-default
{
  background-color: #8ca448;
}


#LogoSGC {
  background-image: url(images/fondo_encabezado.jpg);
  background-size: 1115px 120px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  height: 90px;
  width: 100%;
  position: relative;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background-color: #c9d743;
}
body > .container {
  /*padding: 60px 15px 0;*/
}
.container .text-muted {
  margin: 20px 0;
  max-width: 1200px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* Customize container */

.container {
    max-width: 1200px;
}

