<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
      {% load staticfiles %}
    <link rel="icon" href="favicon.ico">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "dist/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "sticky-footer-navbar.css"%}" rel="stylesheet">
      <link href="{% static "dist/css/hover.css"%}" rel="stylesheet" media="all">
      <link href="{% static "dist/css/Estandares.css"%}"rel="stylesheet" media="all">
      <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static "assets/js/ie-emulation-modes-warning.js"%}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block script %}{% endblock %}
  </head>

  <body>

{% block navbar%}
   <br>
   <br>
    <!-- Fixed navbar -->
   <div class="container">
    <nav class="navbar navbar-default">
        <div id ="LogoSGC"> </div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--<a class="navbar-brand" href="#">Estandares</a>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="#about">Contactenos</a></li>
            <li><a href="#contact">Acerca de</a></li>
              <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
       {% endblock %}
       <!-- Begin page content -->

       <div class="container">
           <div class="page-header">
               <h1>GESTIÓN DE ESTANDARIZACIÓN</h1>
           </div>
           <p class="lead">{% block titulopagina %}Listado Tematicas{% endblock %}</p>
           {% block Contenido%}
           <br>
           <br>
           <br>
           <br>
           <div class="contenedor">
               <a href="/tematicas?tipo=Manuales" class="hvr-rectangle-in button1">Manuales</a>
               <a href="/tematicas?tipo=Procesos" class="hvr-rectangle-in button2">Procesos</a>
               <a href="/tematicas?tipo=Procedimientos" class="hvr-rectangle-in button3">Procedimientos y Estandares</a>
               <a href="/tematicas?tipo=Guias" class="hvr-rectangle-in button4">Guias e Instrucciones de Trabajo</a>
               <a href="/tematicas?tipo=Registros" class="hvr-rectangle-in button5">Registros</a>

           </div>
       {% endblock %}
       </div>

       <footer class="footer">
           <div class="container">
               <p class="text-muted">Servicio Geológico Colombiano - 2015</p>
           </div>
       </footer>


   </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static "dist/js/bootstrap.min.js"%}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "assets/js/ie10-viewport-bug-workaround.js"%}"></script>

  </body>

</html>
