{% extends "base.html" %}

{% block titulopagina %}Listado Documentos{% endblock %}
{% block Contenido%}

<div style="text-align: center; position: relative; padding: 6em;">
<style type="text/css">
    table {
       border:1px solid black;
       border-collapse:separate;
       }
    th, td {
       border:1px solid black;
       }
 </style>

 <table>

  <caption>Resultados</caption>

    <thead>
        <tr>
           <th>Nombre</th>
           <th>Tipo Documento</th>
           <th>Código</th>
           <th>Fecha de Publicación</th>
           <th>Vigencia</th>
            <th>Otras Versiones</th>
           <th>Documento En Discución</th>
            <th>Link De Descarga</th>
         </tr>
    </thead>

    <tfoot>
        <tr>
           <td colspan="8">Documentos Disponibles</td>
        </tr>
    </tfoot>

    <tbody>
        {% for dato in datos%}
            {% for doc,ver in dato.items %}
        <tr>
           <td>{{ doc.nombre }}</td>
           <td>{{ doc.tipo}}</td>
           <td>{{ doc.codigo }}</td>
            <td>{{ doc.fechaPublicacion }}</td>
           <td>{{ doc.vigencia }}</td>
           <td>{% for version in ver %}
               <a href="{{ version.url }}" >"Ver_"{{ version.nombre }}__{{ version.fecha }}</a></BR>
                {% endfor %}

               </td>
           <td>{% if doc.discusion == "SI" %} <a href="/formulario">Enlace </a>  {% else %} NO {% endif %}</td>
           <td><a href="{{ doc.url }}">Descarga </a> </td>
        </tr>
            {% endfor %}

        {% endfor %}

    </tbody>

 </table>


</div>




{% endblock %}